Grupp Allmän handling/Connected Services/ServiceReference1/EService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1160/EService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EService_WebService" />
  <xs:element name="GetAllCases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EService_WebService" minOccurs="0" name="GetAllCasesResult" nillable="true" type="q1:ArrayOfCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNonStartedCases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNonStartedCasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EService_WebService" minOccurs="0" name="GetNonStartedCasesResult" nillable="true" type="q2:ArrayOfCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStartedCases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStartedCasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EService_WebService" minOccurs="0" name="GetStartedCasesResult" nillable="true" type="q3:ArrayOfCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosedCases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosedCasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EService_WebService" minOccurs="0" name="GetClosedCasesResult" nillable="true" type="q4:ArrayOfCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EService_WebService" minOccurs="0" name="aCase" nillable="true" type="q5:Case" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCasesFromSearchWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCasesFromSearchWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EService_WebService" minOccurs="0" name="GetCasesFromSearchWordResult" nillable="true" type="q6:ArrayOfCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EService_WebService" minOccurs="0" name="newCase" nillable="true" type="q7:Case" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>