Grupp Allmän handling/Connected Services/ServiceReference1/EService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EService_WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EService_WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Case" nillable="true" type="tns:Case" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCase" nillable="true" type="tns:ArrayOfCase" />
  <xs:complexType name="Case">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anonymous" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicantsAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicantsEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicantsFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicantsPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicantsPostalNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicantsSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityOfApplicants" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryOfApplicants" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourtName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfCreatedCase" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliveryOption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmploymentDocumentsCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmploymentOfEmployeesCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullySecrecy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NoneSecrecy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationPensionCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartlySecrecy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RequestMotivation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetirementCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Case" nillable="true" type="tns:Case" />
</xs:schema>